name: Create Audio File

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install gtts

      - name: Run script
        run: python cookies.py


      - name: Upload audio
        uses: actions/upload-artifact@v3
        with:
          name: cookies-audio
          path: cookies.mp3
